:root {
  --primary-color: #12486B;
  --secondary-color: #419197;
  --active-color: #78D6C6;
  --background-color: #41423b;
  --font-color: #EEEEEE;
  --button-color: #071061;
}

html {
  height: 100%;
}

body {
  color: var(--font-color);
  background-color: var(--background-color);
  height: 100%;
}


.my-button {
  background-color: rgb(173, 104, 104);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  background-color: var(--primary-color);
  color: var(--font-color);
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
}

.menu li {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  transition: 0.5s;
  border-radius: 8px;
  animation-timing-function: ease;
}

.menu li:hover {
  background-color: var(--secondary-color);
  transform: translateX(2px);
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.user-form {
  width: 300px;
  background-color: var(--primary-color);
  color: var(--font-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px var(--secondary-color);
}

.user-form button {
  background-color: var(--secondary-color);
  width: 100%;
}

.user-form input {
  background-color:  var(--secondary-color);
  color: var(--font-color);
  transition: 0.5s;
}

.user-form input:focus {
  background-color:  var(--secondary-color);
  color: var(--font-color);
  border: 2px solid var(--font-color);
}

.user-form input:hover {
  transform: translateX(4px);
}

.user-form h1 {
  text-align: center;
}

#root {
  height: 100%;
}

.register-form {
  width: 300px;
  background-color: var(--primary-color);
  color: var(--font-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px var(--secondary-color);
}

.register-form button {
  background-color: var(--button-color);
  width: 100%;
}

.register-form input {
  background-color:  var(--button-color);
  color: var(--font-color);
  transition: 0.5s;
}


.grid {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin: 10px;
  padding: 0;
}

.grid li {
  border: 1px solid var(--primary-color);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid li:hover {
  scale: 1.05;
  cursor: pointer;
}

.grid a {
  text-decoration: none;
  color: var(--primary-color)
}

.station-list {
  list-style: none;
  padding: 0;
}

.station-list li {
  width: calc(33.33% - 20px); 
  margin: 0 10px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}

.station-list li a {
  text-decoration: none;
  color: #333;
}


/* The Modal (background) */
.modal-box {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}